#newsletter {
  /* width: 80%; */
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 40px;

  /* background-image: url(img/banner/b14.png); */
  background-repeat: no-repeat;
  background-position: 20% 30%;
  background-color: #06387d;
  /* margin-bottom: 10px; */
}

#newsletter h4 {
  font-size: 22px;
  font-weight: 700;
  color: #fff;
}

#newsletter p {
  font-size: 14px;
  font-weight: 600;
  color: #818ea0;
}
#newsletter p span {
  color: #ffbd27;
}
#newsletter .form {
  display: flex;
  width: 40%;
}
#newsletter input {
  height: 3.125em;
  padding: 0 1.25em;
  font-size: 14px;
  width: 100%;
  border: 1px solid transprent;
  border-radius: 4px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
#newsletter button {
  background-color: #0ca99f;
  color: #fff;
  white-space: nowrap;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
footer {
  background-color: #eeeeee;
}
footer .container {
  /* display: grid;
  grid-template-columns: 3fr 2fr 2fr 4fr 3fr; */
  display: flex;
  justify-content: space-between;
}

footer .logo span {
  color: #1eb2a6;
  font-size: 18px;
}
footer .logo p {
  color: grey;
  margin: 30px 0 15px 0;
}
footer .logo .icon {
  background-color: #1eb2a6;
  color: white;
  margin-right: 10px;
}
footer h3 {
  margin-bottom: 40px;
  font-weight: 500;
}
footer ul li {
  margin-bottom: 20px;
}
footer .link li::before {
  content: "⟶";
  color: #1eb2a6;
  margin-right: 5px;
}
footer .items {
  margin-bottom: 30px;
}
footer .items img {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  margin-right: 10px;
  object-fit: cover;
}
footer .items span,
footer .items i {
  font-size: 12px;
  color: #1eb2a6;
  margin-right: 5px;
  text-transform: capitalize;
}
footer h4 {
  font-weight: 400;
  margin-top: 5px;
}
footer .last ul li {
  display: flex;
  margin-bottom: 50px;
}
footer .last i {
  width: 50px;
  font-size: 20px;
  color: #1eb2a6;
}
.legal {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding: 50px 0;
  color: #eeeeee;
  background-color: #eeeeee;
}
.legal p {
  font-size: 15px;
  color: gray;
}
.legal i {
  color: #1eb2a6;
}
.up {
  height: 78px;
  background-color: black;
  border: 2px solid white;
}
.sub {
  margin-left: 300px;
  margin-top: -32px;
}
.logo img {
  height: 200px;
  margin-top: 43px;
  border-radius: 5px;
  border: 2px solid rgb(29, 27, 32);
}

.h1 {
  margin-left: -106px;
}
.sub button:hover {
  background-color: rgb(27, 56, 131);
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icons a {
  margin-right: 10px; /* Adjust the spacing between icons */
}

.social-icons img {
  width: 40px; /* Set the width of the icons */
  height: 40px; /* Set the height of the icons */
  border: 1px solid white;
  border-radius: 10px;
}
.responsive {
  display: flex;
  width: 80%;
  justify-content: space-evenly;
}

@media only screen and (max-width: 800px) {
  footer .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .responsive {
    display: flex;
    justify-content: space-between;
    width: 100%;

    /* align-items: center; */
  }
  .link {
    width: 50%;
  }
}
