.faq {
  background-color: white;
}
.faq .container {
  max-width: 70%;
  border-radius: 5px;
  background-color: white;
  border: none;
  /* height: 30px; */
}
.faq .box {
  /* background-color: #fff; */
  margin-bottom: 5px;
}
.faq button {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 9px 13px;
}
.faq h2 {
  font-weight: 500;
}
.faq p {
  /* padding: 20px; */
}
.faq .accordion {
  border: none;
  border-radius: 10px;
}
.faq .accordion:hover {
  background-color: #1eb2a6;
  color: #fff;
}
